# Copier ce fichier vers .env et compléter les valeurs.
CNBA_DB_HOST=localhost
CNBA_DB_USER=root
CNBA_DB_NAME=pcxa_cnba

PMA_URL=https://h2-phpmyadmin.infomaniak.com/index.php
PMA_SERVER=
PMA_USERNAME=
PMA_PASSWORD=
PMA_DATABASE_INDEX=2
PMA_HEADLESS=1
